
   <div class="container">
    <form [formGroup]="subjectForm">
    <!-- {{subjectForm.value | json}} -->
      <div style="text-align:center;"><h1> Todo App</h1></div>
      <div class="row mt-5">
        <div class="col-md-6">
      <input type="text" placeholder="Enter Topic here"  autofocus #item  
      [class.is-invalid]="text?.invalid && text?.touched" class="form-control" formControlName="subject">
      </div> 
        <div class="col-md-6">
         <button (click)="addSubject(item.value)"  class="btn btn-success"><span class="material-icons">add</span> </button>
        </div>        
         <div *ngIf="text?.dirty ">
         <small *ngIf="text?.errors?.['required']" class="text-danger">Topic should be entered... </small>
         <small *ngIf="text?.errors?.['minlength']" class="text-danger">Topic should have atleast 4 characters...</small>
         <small *ngIf="text?.errors?.['alphaFailValidator']" class="text-danger">Topic should have atleast 1 capital letter...</small>
         </div>
      </div>
<br> 
       <div>{{noDataFound}}</div>

       <div *ngFor="let sub of list">
      <!-- {{sub.isDisabled}} -->
       <div class="row mt-1">
         <div class="col-md-6 colorclass" >    <!--[class.edclass]="sub.isDisabled-->
          <input value="{{sub.subject}}" [class]="{'edclass':!sub.isDisabled}"
           #subText [disabled]="sub.isDisabled" class="form-control">
         </div>
               <div class="col-md-6"> 
          <button class="btn btn-primary btn-sm" (click)="onEdit(sub,subText.value)">{{sub.btnText}}</button> &nbsp;&nbsp;
          <button class="btn btn-secondary btn-sm" (click)="onDelete(sub.id)"><span class="material-icons">delete</span> </button> &nbsp;               </div>
         </div>
        </div>
  </form>
</div>

